<% layout('../../views/layout') -%>

<%
var noError = isUserNotExist === '' && isHashNotMatch === '' ? '' : 'none';
var userNotExist = isUserNotExist === '' ? 'none' : '';
var hashNotMatch = isHashNotMatch === '' ? 'none' : '';
%>

<div style="display: <%=noError %>">
	<h2>Thank you!</h2>
	<p>Your email address has been verfied.</p>
</div>

<div style="display: <%=userNotExist %>">
	<h2>Error</h2>
	<p>The email address does not exist in our database.</p>
</div>

<div style="display: <%=hashNotMatch %>">
	<h2>Error</h2>
	<p>The hash in the link does not match the email address.</p>
</div>