<% layout('../views/layout') -%>

<div class="page-header">
	<h1>Email Sent</h1>
</div>

<form>
	<fieldset>
		<div class="alert alert-success" >
			<strong>Thank you!</strong> A message with instructions for resetting your password has been sent to your
			email address.
		</div>

	</fieldset>
</form>
