<% layout('../../views/layout') -%>

<form method="post" action="/password/forgot">
	<fieldset>
		<legend>Forgotten Password</legend>

		<div class="alert alert-info" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Please enter the email address with which you registered your account. A message will be sent to that
			address, with instructions for resetting your password.
		</div>

		<div class="control-group <%=emailAlertType%>">
			<label class="control-label">Email</label>
			<div class="controls">
				<input type="email" name="seller[emailAddress]" value="<%=emailAddress%>"
						required="required" />
				<span class="help-block"><%=emailError%></span>
			</div>
		</div>

		<div class="controls" >
			<button type="submit" class="btn btn-primary">Request Password Reset</button>
		</div>
	</fieldset>
</form>