<% layout('../views/layout') -%>
<% script('../../static/js/password-reset-form.js') -%>

<div class="page-header">
	<h1>Password Reset</h1>
</div>

<form id="reset" method="post" action="/password/reset">
	<input type="hidden" name="user[emailAddress]" value="<%=emailAddress %>" />
	<fieldset>
		<div class="alert alert-info" >
			Please enter a new password, and then confirm it.
		</div>

		<div id="divPassword" class="form-group">
			<label for="password" class="control-label">New Password</label>
			<input type="password" required
				name="user[password]"
				id="password" class="form-control"
			>
			<span id="spanPassword" class="help-block"></span>
		</div>

		<div id="divConfirmPassword" class="form-group">
			<label class="control-label">Confirm Password</label>
			<input type="password" required
				name="user[confirmPassword]"
				id="confirmPassword" class="form-control">
			<span id="spanConfirmPassword" class="help-block"></span>
		</div>

		<button type="submit" class="btn btn-primary">Reset Password</button>
	</fieldset>
</form>
