<% layout('../../../views/layout') -%>

<form>
	<fieldset>
		<legend>Thank You!</legend>
		<div class="alert alert-success" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			A message with instructions for resetting your password has been sent to your email address.
		</div>

	</fieldset>
</form>
