<% layout('../../../views/layout') -%>
<% script('/assets/js/resetPassword.js') -%>

<form id="reset" method="post" action="/seller/login/password/reset">
	<input type="hidden" name="seller[email]" value="<%=email%>" />
	<fieldset>
		<legend>Password Reset</legend>

		<div class="alert alert-info" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Please enter a new password, and then confirm it.
		</div>

		<div id="divPassword" class="control-group">
			<label class="control-label">New Password</label>
			<div class="controls">
				<input type="password" id="password" name="seller[password]" required="required" />
				<span id="spanPassword" class="help-block"></span>
			</div>
		</div>

		<div id="divConfirmPassword" class="control-group">
			<label class="control-label">Confirm Password</label>
			<div class="controls">
				<input type="password" id="confirmPassword" name="seller[confirmPassword]" required="required" />
				<span id="spanConfirmPassword" class="help-block"></span>
			</div>
		</div>

		<div class="controls" >
			<button type="submit" class="btn btn-primary">Reset Password</button>
		</div>
	</fieldset>
</form>